In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/edsa-recommender-system-predict/links.csv
/kaggle/input/edsa-recommender-system-predict/train.csv
/kaggle/input/edsa-recommender-system-predict/genome_scores.csv
/kaggle/input/edsa-recommender-system-predict/tags.csv
/kaggle/input/edsa-recommender-system-predict/imdb_data.csv
/kaggle/input/edsa-recommender-system-predict/test.csv
/kaggle/input/edsa-recommender-system-predict/sample_submission.csv
/kaggle/input/edsa-recommender-system-predict/genome_tags.csv
/kaggle/input/edsa-recommender-system-predict/movies.csv

## Alternating Least Squares

ALS is a method used in collaborative filtering used in recommendation system. ALS is a matrix factorization technique its called alternating because it uses the concept of latent factors, in a recommender system there are multiple of characteristics that can tie people and products together, the role of the recommender is to take advantage of these latent factors to recommend specific products to people.For a more clearer picture it is noticeable that the phrase "Least Squares" is rather familiar from linear regression, in the case of alternating the "least squares" phrase is due to the fact that during one iteration one latent factor is kept constant while the other changes then in the next iteration the other latent factor is kept constant and the other is varied, while at the same time minimising the sum of the squared errors. ALS ties together the concept of linear regression and grouping from K-means clustering.

## Pyspark

Pyspark is a python API for Apache Spark which is a big data handling framework written in a language called scala. It makes the use of a distributed system that distributes data to multiple machines or computers.

The implimentation of the alternating least squares is made simpler and faster by the pyspark machine learning library.

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.0.0.tar.gz (204.7 MB)
     |████████████████████████████████| 204.7 MB 14 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 53.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - done
  Created wheel for pyspark: filename=pyspark-3.0.0-py2.py3-none-any.whl size=205044182 sha256=f7b5726d752501dd9f467f90e5880d102c771f2d7416263748b954669d216669
  Stored in directory: /root/.cache/pip/wheels/4e/c5/36/aef1bb711963a619063119cc032176106827a129c0be20e301
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.0

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('spark-ALS-recomender').getOrCreate()

In [4]:
from pyspark.sql  import *

In [5]:
df = spark.read.csv('/kaggle/input/edsa-recommender-system-predict/train.csv',header=True,inferSchema=True)

df.show()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|  5163|  57669|   4.0|1518349992|
|106343|      5|   4.5|1206238739|
|146790|   5459|   5.0|1076215539|
|106362|  32296|   2.0|1423042565|
|  9041|    366|   3.0| 833375837|
|120949|  81768|   3.0|1289595242|
| 19630|  62049|   4.0|1246729817|
| 21066|   2282|   1.0| 945785907|
|117563| 120474|   4.0|1515108225|
|144018|   1997|   5.0|1109967647|
| 40858|   5025|   3.5|1090061607|
| 80119|  92259|   3.5|1435635534|
|  6063|  33493|   3.0|1236048966|
| 97844|   1784|   3.5|1111630438|
| 55909|   3978|   2.5|1111555006|
| 12942|  48394|   0.5|1280365881|
|161472|   3355|   4.0|1229975011|
|117890| 152077|   3.5|1488975758|
| 46581| 108190|   2.0|1465961865|
| 33970|   1265|   4.0|1463280090|
+------+-------+------+----------+
only showing top 20 rows

In [6]:
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator

In [7]:
df = df.drop('timestamp')

In [8]:
df.show()

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|  5163|  57669|   4.0|
|106343|      5|   4.5|
|146790|   5459|   5.0|
|106362|  32296|   2.0|
|  9041|    366|   3.0|
|120949|  81768|   3.0|
| 19630|  62049|   4.0|
| 21066|   2282|   1.0|
|117563| 120474|   4.0|
|144018|   1997|   5.0|
| 40858|   5025|   3.5|
| 80119|  92259|   3.5|
|  6063|  33493|   3.0|
| 97844|   1784|   3.5|
| 55909|   3978|   2.5|
| 12942|  48394|   0.5|
|161472|   3355|   4.0|
|117890| 152077|   3.5|
| 46581| 108190|   2.0|
| 33970|   1265|   4.0|
+------+-------+------+
only showing top 20 rows

In [9]:
df.describe().show()

+-------+-----------------+-----------------+------------------+
|summary|           userId|          movieId|            rating|
+-------+-----------------+-----------------+------------------+
|  count|         10000038|         10000038|          10000038|
|   mean|81199.08814466505|21389.11161287587|3.5333951730983424|
| stddev|46793.58615553294| 39195.7810534155|1.0611240700473992|
|    min|                1|                1|               0.5|
|    max|           162541|           209171|               5.0|
+-------+-----------------+-----------------+------------------+

In [10]:
training,test = df.randomSplit([0.8,0.2])

In [11]:
als = ALS(maxIter=5, regParam=0.01, userCol='userId',itemCol='movieId',ratingCol='rating')

In [12]:
model = als.fit(df)

In [13]:
#predictions = model.transform(test)

In [14]:
#predictions.show()

In [15]:
#evaluator = RegressionEvaluator(metricName='rmse', labelCol='rating',predictionCol='prediction')

In [16]:

#rmse = evaluator.evaluate(predictions.na.drop())
#print('RMSE')
#print(rmse)

In [17]:
test = spark.read.csv('/kaggle/input/edsa-recommender-system-predict/test.csv',header=True,inferSchema=True)
test.show()

+------+-------+
|userId|movieId|
+------+-------+
|     1|   2011|
|     1|   4144|
|     1|   5767|
|     1|   6711|
|     1|   7318|
|     1|   8405|
|     1|   8786|
|     2|    150|
|     2|    356|
|     2|    497|
|     2|    588|
|     2|    653|
|     2|   1080|
|     2|   1196|
|     2|   1198|
|     2|   1201|
|     2|   1299|
|     2|   1485|
|     2|   1580|
|     2|   1693|
+------+-------+
only showing top 20 rows

In [18]:
pred = model.transform(test)

In [19]:
pred.show()

+------+-------+----------+
|userId|movieId|prediction|
+------+-------+----------+
| 35969|    148|   3.09262|
| 31376|    148| 2.0591314|
| 64112|    148|  3.134615|
|128124|    148| 3.2705293|
| 14831|    148| 3.0384703|
| 66907|    148| 4.5857143|
|135438|    148|  2.391111|
| 25664|    148| 2.3893936|
|162516|    148| 2.9162939|
|132855|    148| 3.9835815|
| 73078|    148| 3.2176166|
| 74794|    148|  2.396445|
| 12836|    148| 2.8350325|
| 54751|    148|  2.572449|
| 50403|    148| 3.1504745|
|144862|    148| 2.9798565|
| 96892|    148| 1.9652823|
| 24974|    148| 3.3477378|
|105793|    148| 2.4509814|
| 88734|    148| 2.4092011|
+------+-------+----------+
only showing top 20 rows

In [20]:
pred= pred.toPandas()

In [21]:
pred

         userId  movieId  prediction
0         35969      148    3.092620
1         31376      148    2.059131
2         64112      148    3.134615
3        128124      148    3.270529
4         14831      148    3.038470
...         ...      ...         ...
5000014   47153   203026    0.794844
5000015   47153   203256    0.389848
5000016  133854   203256    0.548976
5000017   53163   203256    0.551642
5000018   57813   203256    0.494327

[5000019 rows x 3 columns]

In [22]:
pred['Id'] = pred[['userId', 'movieId']].apply(tuple, axis=1)

In [23]:
pred['Id'] = pred['Id'].apply(lambda x: str(x[0])+'_'+ str(x[1]))

In [24]:
pred = pred.rename(columns={'prediction': 'rating'})

In [25]:
pred.head()

   userId  movieId    rating          Id
0   35969      148  3.092620   35969_148
1   31376      148  2.059131   31376_148
2   64112      148  3.134615   64112_148
3  128124      148  3.270529  128124_148
4   14831      148  3.038470   14831_148

In [26]:
sub  = pred[['Id', 'rating']]
sub.head()

           Id    rating
0   35969_148  3.092620
1   31376_148  2.059131
2   64112_148  3.134615
3  128124_148  3.270529
4   14831_148  3.038470

In [27]:
sub.isna().sum()

Id           0
rating    6383
dtype: int64

In [28]:
sub['rating'].fillna(0.5,inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [29]:
sub.isna().sum()

Id        0
rating    0
dtype: int64

In [30]:
sub.to_csv('submission.csv', index=False)